

.body {
  max-height: 100vh;
  overflow: hidden;
  font-family:'Tahoma', 'sans-serif';
}

.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.inputs-container {
  height: 90vh;
  overflow: auto;
  background: white;
  width: 400px;
}

.navigation{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.next-button{
  justify-self: right;
}

.prev-button{
  justify-self: left;
}

