.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: space-around;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.inputs-container {
}

.cv-container {
  overflow: hidden;
  /* align-self: center;
  justify-self: center;
  margin-left: -100px;
  flex-direction: column; */
  
}
