

.body {
  height: 100vh;
  font-family:'Tahoma', 'sans-serif';
  background-color: rgb(245, 245, 245);
  
}



.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.inputs-container {
  height: 70vh;
  overflow-y: auto;
  overflow-x: none;
  background: rgb(238, 238, 238);
  width: 370px;
  box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 100px;
}

.navigation{

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.next-button{
  justify-self: right;
}

.prev-button{
  justify-self: left;
}

.cv-container{
  z-index: 2;
  position: relative;
  bottom: 50px;

}

