#cv-display-container {
    border: solid black 1px;
    max-height: 296.2mm;
    min-height: 296.2mm;
    min-width: 210mm;
    max-width: 210mm;
    text-align: left;
    background-color: white;
    display: flex;
    flex-direction: row;

}

.small-view {

    position: absolute;
    transform: scale(0.5);
    top: -190px;
    right: -150px;
    z-index: -1;

}

.leftBar {
    margin: 0;
    background-color: rgb(18, 65, 109);
    color: white;
    min-width: 30%;
    max-width: 30%;
    min-height: 296.2mm;
    max-height: 296.2mm;
    padding: 15px;
    box-sizing: border-box;
}

.nameD {
    font-size: 35px;
    font-weight: bold;
}

.professionD {
    font-size: 25px;
    font-weight: 100;
    padding: 10px 0 20px 0;
}

.titleLeft {
    background-color: rgb(78, 82, 133);
    width: calc(100% + 30px);
    margin-left: -15px;
    vertical-align: center;
    display: flex;
    text-align: center;
    margin-bottom: 10px;

}

.contactTitle {
    text-align: center;
    padding: 15px;
    font-size: 25px;
    font-weight: bolder;
}

.hide {
    display: none;
}

.preview {

    position: absolute;
    transform: scale(1);
    right: 50px;
    z-index: 2;

}

.cv-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.main-content {
    color: rgb(133, 133, 133);
    margin: 20px;
    width: 500px;
}

.summaryD {
    padding-top: 10px;
    padding-bottom: 30px;
}

.work-history-title {
    font-size: 25px;
    border-bottom: rgb(133, 133, 133) solid 0.5px;
    border-top: rgb(133, 133, 133) solid 0.5px;
    padding: 5px;
    margin-bottom: 20px;
}