.WE {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

}

.start{
    margin-bottom: 5px;
}

.dates {
    width: 130px;
    font-weight: lighter;
}



.job {
    font-size: 30;
    font-weight: 800;
    margin-bottom: 5px;
}

.list {
    position: relative;
    right: 20px;
    bottom: 10px;
}

.info{
    width: 600px;
}
